@model ControlProyectos.Models.controlProyecto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>controlProyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liderTecnico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liderTecnico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gestorTransicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gestorTransicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etapaActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etapaActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etapaTransicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etapaTransicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.definicionModeloServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.definicionModeloServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.revisionDocumentoDiseno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revisionDocumentoDiseno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.revisionArquitecturaServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revisionArquitecturaServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.certificacionPasoProduccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certificacionPasoProduccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cierreEstabilizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cierreEstabilizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.certiFuncYtec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certiFuncYtec)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProyecto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
